<!DOCTYPE html>
<html>

<head>
  <title>ChordBankApp</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application" , media: "all" %>
  <script src="fretboard.js" defer></script>
</head>

<body>
  <div class="main-container">
    <div class="banner">
      <nav>
        <%= link_to "Home" , root_path %> |
          <%= link_to "Chord Library" , chords_path %>
      </nav>
    </div>
    <%= yield %>
  </div>
</body>

</html>